body
{
}

#wrapper
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#menu
{
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li
{
  float: left;
  margin-right: 30px;
}

#content
{
  clear: both;
}

#words
{
  float: left;
  width: 65%;
}

#pic
{
  float: right;
  padding: 10px;
  width: 30%;
}

#footer
{
  clear: both;
  font-size: 70%;
}

.form_element
{
  clear: both;
  float: left;
}
